/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar styles */
.navbar {
    background-color: #6BB478;
    padding: 20px 0; /* Increased padding for navbar */
    text-align: center; /* Center logo */
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar .logo {
    width: 120px;
}

/* Login container */
.login-container {
    margin-top: 100px; /* Adjusted for navbar */
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering the login container */
    justify-content: center; /* Center vertically */
    flex-grow: 1; /* Allow the container to grow and center vertically */
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.highlight {
    color: #4CAF50;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.login-btn {
    background-color: #6BB478;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    font-size: 18px;
    margin-top: 10px;
}

.remember {
    text-align: left;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #6BB478;
    color: white;
    padding: 20px;
    position: relative;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Membuat jarak antara konten footer */
    align-items: center;
    max-width: 90%; /* Batas lebar maksimum */
    margin: 0 auto; /* Memusatkan konten secara horizontal */
    padding-bottom: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 100px;
    margin-right: 10px;
}

.footer-info {
    text-align: left;
}

.footer-info h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.footer-info p {
    font-size: 20px;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    text-align: right; /* Mengatur teks di kanan */
}

.footer-links div {
    margin: 0 20px;
}

.footer-links h3 {
    font-size: 16px;
}

.footer-pages ul, .footer-contact ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-pages li, .footer-contact li {
    margin: 5px 0;
    font-size: 14px;
}

.footer-contact img {
    width: 20px;
    margin-right: 10px;
}

/* Footer bottom (Copyright section) */
.footer-bottom {
    text-align: center; /* Memusatkan teks copyright */
    margin-top: 10px;
    font-size: 14px;
}
